<section class="lg:px-32 mb-32" id="about">
  <h3 class="text-primary text-3xl mb-12 font-secondary font-bold">About.</h3>

  <p class="mb-12 text-xl">
    <a href="#">test test</a>
    Hey, I am Okiki Ojo (pronounced O-key-key O-jo), I’m a student studying Software Engineering at Ontario Tech University (formerly University of Ontario Institute of
    <a href="#">test test</a> Technology, UOIT), who is currently working as a Software Engineer Intern at Vercel
  </p>

  <h3 class="text-2xl mb-8">Experience.</h3>

  <p class="mb-8 text-xl">
    Hey, I am Okiki Ojo (pronounced O-key-key O-jo), I’m a student studying Software Engineering at Ontario Tech University (formerly University of Ontario Institute of Technology, UOIT), who is currently working as a Software Engineer Intern at
    Vercel
  </p>
</section>
