<section class="px-32">
  <h3 class="text-primary text-3xl mb-8 font-secondary font-bold">About.</h3>

  <p class="mb-12">
    Hey, I am Okiki Ojo (pronounced O-key-key O-jo), I’m a student studying Software Engineering at Ontario Tech University (formerly University of Ontario Institute of Technology, UOIT), who is currently working as a Software Engineer Intern at
    Vercel
  </p>

  <h3 class="text-2xl mb-8">Experience.</h3>

  <p class="mb-8">
    Hey, I am Okiki Ojo (pronounced O-key-key O-jo), I’m a student studying Software Engineering at Ontario Tech University (formerly University of Ontario Institute of Technology, UOIT), who is currently working as a Software Engineer Intern at
    Vercel
  </p>
</section>
