<section class="lg:px-32 mb-32 text-xl" id="about">
  <h3 class="text-primary text-3xl mb-12 font-secondary font-bold">About.</h3>

  <p class="mb-12">
    Desde niño adoro las computadoras, cuando los monitores no tenian color y
    para todo se usaba la linea de comandos. 🧑‍💻 <br /> En 2001 comencé la carrera
    de análisis de sistemas, en esos primeros años comenzó mi interés por el diseño
    web, incentivado por la posibilidad de crear cosas que trasciendan no solo a
    mi si no a algunos limites fisicos como al tiempo y a los limites geográficos.
  </p>

  <h3 class="text-2xl mb-8">Experience.</h3>

  <p class="mb-8">
    Más de 19 años en el área del desarrollo web freelance 🚀 y más de 500
    proyectos realizados en distintas tecnologías a través de los años.
  </p>

  <h3 class="text-2xl mb-8">Skills.</h3>

  <p class="mb-8">
    Me interesa el diseño y la estética 🙈, por lo que siempre trato de que mis
    proyectos sean visualmente atractivos y que la experiencia de usuario sea la
    mejor posible.
    <br />

    <div class="flex text-primary gap-x-2 mb-2 flex-wrap text-sm lg:text-xl">
      <span>Frontend</span>
      <span class="underline">TypeScript</span>
      <span class="underline">React</span>
      <span class="underline">Next.js</span>
      <span class="underline">Astro</span>
      <span class="underline">Tailwind</span>
    </div>
    <div class="flex text-primary gap-x-2 mb-2 flex-wrap text-sm lg:text-xl">
      <span>Backend</span>
      <span class="underline">PHP</span>
      <span class="underline">MySQL</span>
      <span class="underline">Node.js</span>
      <span class="underline">Express</span>
    </div>
    <div class="flex text-primary gap-x-2 flex-wrap text-sm lg:text-xl">
      <span>Design</span>
      <span class="underline">Ilustrator</span>
      <span class="underline">Photoshop</span>
      <span class="underline">Figma</span>
    </div>
  </p>
</section>
