---
import { Down } from "../icons/icons";
---

<section class="h-screen flex items-center" id="hero">
  <div>
    <h1 class="font-secondary font-black text-6xl lg:text-7xl mb-4">
      Hola, soy <span
        class="text-primary cursor-pointer hover:blur-md transition-all"
        >Mariano.</span
      >
    </h1>
    <h2 class="text-3xl">Fullstack Web Developer</h2>
  </div>

  <div class="absolute bottom-8 left-0 right-0 flex justify-center">
    <a
      href="#about"
      aria-label="Scroll down"
      class="fade-in scroll text-primary text-3xl transition-all lg:hover:blur-sm scroll-down"
    >
      <Down />
    </a>
  </div>
</section>
