@charset "utf-8";

html,
body {
  accent-color: $color-primary;
  color: $text-color-primary;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // @media (max-width: 980px) {
  //   font-size: 15px;
  // }
}

// a {
//   color: inherit;
// }

.font-secondary {
  font-family: "Lexend", sans-serif;
}

.text-primary {
  color: $color-primary;
}
.text-secondary {
  color: $color-secondary;
}

.bg-primary {
  background-color: $color-primary;
}
