@charset "utf-8";

:root {
  --color-primary: #ffff00;
}

html,
body {
  accent-color: var(--color-primary);
  color: #ffffff;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
.underline {
  color: var(--color-primary) !important;
  text-decoration: underline !important;
  font-family: inherit;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 2px !important;
  &:hover {
    text-decoration: wavy underline !important;
    text-decoration-thickness: 2px !important;
  }
}

.underline-2 {
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 2px !important;
  text-decoration: underline;
  color: white !important;
  &:hover {
    text-decoration-thickness: 2px !important;
    text-decoration: wavy underline;
  }
}

.font-secondary {
  font-family: "Lexend", sans-serif;
}

.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

svg {
  fill: currentColor;
  polyline {
    stroke: currentColor;
  }
  line {
    stroke: currentColor;
  }
}

.fade-in {
  animation: fadeIn ease 0.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input::placeholder,
textarea::placeholder {
  color: white;
}
