---
import "../../styles/styles.css";
import "../../styles/main.min.css";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Más de 20 años en el área del desarrollo web freelance y más de 500
    proyectos realizados en distintas tecnologías a través de los años."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>Mariano Arias</title>
    <meta property="og:url" content="http://marianoarias.soy" />
    <link rel="canonical" href="http://marianoarias.soy" />
    <meta
      name="description"
      content="Más de 20 años en el área del desarrollo web freelance y más de 500
    proyectos realizados en distintas tecnologías a través de los años."
    />
    <meta name="title" content="Mariano Arias" />
    <meta property="og:title" content="Mariano Arias" />
    <meta
      property="og:description"
      content="Más de 20 años en el área del desarrollo web freelance y más de 500
    proyectos realizados en distintas tecnologías a través de los años."
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Mariano Arias" />
    <meta name="theme-color" content="#000" />
    <meta name="msapplication-TileColor" content="#000" />
    <meta name="msapplication-TileImage" content="" />
    <meta name="application-name" content="Mariano Arias" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="author" content="Mariano Arias" />
  </head>
  <body>
    <header class="fixed left-0 px-6 w-full z-40">
      <Header client:only />
    </header>
    <main class="m-auto max-w-6xl px-6">
      <slot />
    </main>
    <footer class="m-auto max-w-6xl px-6">
      <Footer client:load />
    </footer>
  </body>
</html>
